@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/layout/media-queries';
@import '../../../assets/styles/base/typography';

.dashboardTable {
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  padding-bottom: 1em;

  @include media-queries(sm) {
    padding-bottom: 2em;
  }
}

.dashboardTable__table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-of-type(even) {
    background-color: $khaki;
  }
}

.dashboardTable__title {
  margin-bottom: 0;
}

.dashboardTable__cell {
  &--header {
    text-transform: capitalize;
    background-color: $black;
    color: $white;
    display: none;
    padding: .5em .3em;
    text-align: left;
    font-family: 'ralewayBold';

    @include media-queries(sm) {
      display: table-cell;
    }
  }

  &--symbol a {
    color: $black;
    font-family: 'ralewayBold';
    text-decoration: none;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0px;
      height: 2px;
      transition: all 0.1s ease-in-out;
      transition-duration: 0.2s;
      opacity: 0;
      background-color: $black
    }

    &::after {
      right: calc(50%);
    }

    &::before {
      left: calc(50%);
    }

    &:hover {
      &::before {
        width: 50%;
        opacity: 1;
      }
      &::after {
        width: 50%;
        opacity: 1
      }
    }
  }

  &--content {
    display: block;
    border-bottom: 1px solid $softGrey;
    position: relative;
    padding: .5em 0 .5em 50%;

    @include media-queries(sm) {
      display: table-cell;
      padding: .5em .3em;
      text-align: left;
      border: none;
    }

    &::before {
      content: attr(data-attribute);
      position: absolute;
      left: .3em;
      white-space: nowrap;
      color: $black;
      font-family: 'ralewayBold';

      @include media-queries(sm) {
        display: none;
      }
    }
  }
}
